<p id="notice"><%= notice %></p>

<p>
  <strong>Start city:</strong>
  <%= @activity.start_city %>
</p>

<p>
  <strong>End city:</strong>
  <%= @activity.end_city %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @activity.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @activity.end_time %>
</p>

<p>
  <strong>Founder:</strong>
  <%= @activity.founder %>
</p>

<p>
  <strong>Wechat:</strong>
  <%= @activity.wechat_id %>
</p>

<p>
  <strong>Weibo:</strong>
  <%= @activity.weibo_id %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @activity.remarks %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
